<div class="container">
    <h1 class="text-muted">Zenoti</h1>
    <div class="row">
		<div class="col-md-offset-8 col-md-4">
			<div class="input-group input-group-sm">
				<span class="input-group-addon">Filter by</span>
                 <input type="text" name="query" class="form-control" [(ngModel)]="searchQuery" placeholder="Search by name or type" />
				 <select name="type" class="form-control" [(ngModel)]="searchType">
					<option value="">All</option>
                    <option value="name">Name</option>
					<option value="type">Type</option>
				</select>
				<span class="input-group-addon input-group-btn">
					<button class="btn btn-default" type="button" (click)="filterBusinessList()">Filter</button>
				</span>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="content">
            <div class="col-md-5 panel panel-primary" *ngFor="let item of business">
                <div class="panel-heading"><strong><p class="text-center">{{ item.BusinessName }}</p></strong></div>
                <div class="panel-body">
                    <p class="text-right text-warning"><span class="glyphicon glyphicon-star"></span> {{ item.rating }}</p>
                    {{ item.address }}
                    <p class="text-right"><a href="{{ item.link }}" target="_blank">show more</a></p>
                </div>
                <div class="panel-footer">
                    <strong><p class="text-muted text-success">{{ item.BusinessType }}</p></strong>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!hasMoreBusiness" class="text-center">
        <p class="text-center text-uppercase text-muted">Thats All Folks</p>
    </div>
    <div *ngIf="hasMoreBusiness" class="text-center">
        <button type="button" class="btn btn-danger btn-sm" (click)="getBusinessList(1)">Load More</button>
    </div>
</div>